Resources/Private/Schemas/PxShopware.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://typo3.org/ns/Portrino/PxShopware/ViewHelpers"><xsd:element name="media.exists"><xsd:annotation><xsd:documentation><![CDATA[Class ExistsViewHelper]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute type="xsd:string" name="then"><xsd:annotation><xsd:documentation><![CDATA[Value to be returned if the condition if met.]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="else"><xsd:annotation><xsd:documentation><![CDATA[Value to be returned if the condition if not met.]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="file"><xsd:annotation><xsd:documentation><![CDATA[Filename which must exist to trigger f:then rendering]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="directory"><xsd:annotation><xsd:documentation><![CDATA[Directory which must exist to trigger f:then rendering]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element></xsd:schema>
